[Unit]
Description=Windows VM

[Service]
Type=notify
ExecStart=/usr/bin/windows-gaming start
PassEnvironment=XDG_CONFIG_HOME
NotifyAccess=main
KillMode=mixed
TimeoutStartSec=infinity
TimeoutStopSec=infinity
