[Unit]
Description=Windows VM

[Service]
Type=notify
ExecStart=/usr/sbin/windows-gaming-driver
NotifyAccess=main
KillMode=mixed
TimeoutStartSec=infinity
TimeoutStopSec=infinity
