language: csharp
mono: latest
env:
 - RUST_TOOLCHAIN=stable
 - RUST_TOOLCHAIN=beta
 - RUST_TOOLCHAIN=nightly
install:
 - curl -sSf https://sh.rustup.rs | sh -s -- --default-toolchain=$RUST_TOOLCHAIN -y
 - export PATH=$HOME/.cargo/bin:$PATH
script: make all test
addons:
  apt:
    packages:
    - rpm2cpio
    - genisoimage
    - bsdtar
    - libudev-dev
matrix:
  allow_failures:
    - env: RUST_TOOLCHAIN=nightly
